body {
    background-color: black;
}

.nav {
    padding: 0px 0px 0.2rem 1rem;
}
.navbar {
    height: 5rem;
    padding:  0px 2rem 0px 0.5rem;
    font-family: 'oxygen', sans-serif;
    font-weight: 500;
    background-color: rgb(0, 0, 0) !important;
    
  
}
.navbar-toggler {
    color: white !important;
    background-color: rgb(255, 255, 255, 0.9) !important;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
.navbar-brand:hover {
   color: white;
} 

.nav-item {
    margin: 0px 8px;
}
.nav-item:hover {
    border-bottom: 3px solid #c02210;
    border-radius: 2px;
    background-color: black !important;
}
.nav-link:hover {
    color: white;
    font-weight: 500;
}

.nav-link {
    color:  white !important;
    font-size: 20px;
    
}
i {
    color: white; 
    margin: 10px 15px 0px;
 }

i:hover {
    color:  #c01c0a;
}

/******HOME************/
#home {
    height: 100vh;
    background-image: url(images/multi-dimensional-urban-space-exotic-concepts-digital-painting.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    
#home h1 {
    font-size: 60px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}

.one {
    width: 50%;
    color: rgb(241, 241, 241);
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.zero {
   
   width: 50%;
  background-color: black;
   height: 100vh;
   
  
}

.zero img {
    width: 80%;
   transform: translateY(46%);
}




/***********TEAM*************/

#team {
    background-color: rgb(7, 6, 6);
    margin-top: 70px;
    padding-bottom: 100px;
    height: auto;
}
#team h1 {
    color: rgb(196, 52, 33);
    font-size: 65px;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
}
.team p {
    font-size: 23px;
    font-weight: 400;
    color: rgb(223, 223, 223);
}

.team {
    padding-top: 80px;
    text-align: center;
}
.row {
    padding: 50px;
    margin: 0px auto;
}
.card {
    border-radius: 15px;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    background-color: black;
    border: 2px solid rgb(65, 64, 64);
}
.card:hover {
    box-shadow: 0 1px 1px 2px rgb(146, 145, 145);
}
.card-img-top {
    height: 300px;
    width: 100%;
    padding: 10px;
    margin: 0px auto;
    border-radius: 20px;
    
}
.card-img-top:hover {
    transform: scale(1.05);
}
.card-title {
    color:  rgb(212, 205, 204);;
}
.card-text {
    color: rgb(236, 233, 233);
}
.btn {
   font-size: 25px;
   font-weight: 600;
    color: rgb(197, 45, 45);
}




@media screen and (max-width: 450px) {
    .navbar {
        padding:  0px 15px 70px 0px;
    }
    .nav {
        padding-bottom: 0rem;
        margin-bottom: 1rem;
        font-size: 35px;
        margin-bottom: 25px;
        display: none;
     
    }
    #offcanvasNavbarLabel {
        font-size: 40px;
        padding-left: 20px;
        
    }
    .offcanvas-body {
        background-color: black;
    }
    .nav-item {
    
        width: 40%;
    }
    .nav-link {
        color: white;    
    }
    .nav-item:hover, .nav-link:focus, .nav-item:active {
        text-align: center;
        background-color: rgb(236, 21, 21);
        border-radius: 2px;
        border-radius: 10px;
        margin: 10px 8px;

    }
    i {

        margin: 20px 10px 0px;
        
    }

    






    #home {
        height: 700px;
        display: block;

    }
    #home h1 {
    
        font-size: 45px;
        padding-bottom: 10px;
        text-shadow: 5px 5px 3px black;
        height: auto;
        
    }
    .one {
        width: 100%;
        transform: translateY(70%);
        margin: 0pc auto 30px;

    }
    .one p {
        font-size: 18px;
        font-weight: 400;
        padding: 0px 25px;
        text-shadow: -2px 0 rgba(1, 12, 63, 0.911), 0 2px rgba(0, 0, 0, 0.911), 2px 0 rgba(8, 22, 53, 0.911), 0 -2px rgba(1, 7, 19, 0.911);
        text-align: center;
      
    }
    .zero {
   
        width: 100%;
        height: fit-content;
        margin: 0px auto;
        color: rgb(219, 219, 219);
        margin-top: 30px;
        transform: translateY(50%);
        background-color: transparent;
     }
     
     .zero img {
         width: 100%;
         border-radius: 20px;
         width: 95%;
         margin-left: 3%;
     }
     









    .card {
        margin: 25px auto;
    }
    #team {
        padding-bottom: 25px;
    }
    #team h1 {
        font-size: 50px;
    }
    .row {
        padding: 20px;
    }
}









